<h3>Edit User Roles</h3>
<form [formGroup]="roleForm" (ngSubmit)="saveUser()" style="text-align: center;">
  <section class="example-section">
    <!-- <mat-checkbox class="example-margin" [(ngModel)]="admin">Checked</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="user">Indeterminate</mat-checkbox> -->
    <label>ADMIN</label>
    <input type="checkbox" formControlName="admin">
    <label>USER</label>
    <input type="checkbox" formControlName="user">
  </section>
  <div style="margin-top: 50px;">
    <button mat-raised-button color="primary">Update</button> |
    <button mat-raised-button mat-dialog-close color="accent">Close</button>
  </div>
</form>
