.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('https://wallpapercave.com/wp/wp2892907.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.644);
  justify-content: center;
  align-items: center;
}
