<h2 style="padding: 20px">User Data</h2>
<div
  style="flex-grow: 1; width: 100%; align-items: center"
  class="responsive-table"
>
  <table mat-table [dataSource]="dataSource" matSort style="width: inherit">
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef>Avatar</th>
      <td mat-cell *matCellDef="let row">
        <img
          mat-card-image
          *ngIf="row.avatar != ''" [src]="imgBaseUrl+'/download/'+row.avatar" alt="Avatar"
          onerror="this.onerror = null; this.src=''"
          alt="User avatar"
          class="avatar"
        />
        <mat-icon style="font-size: 32px; width: 32px; height: 32px;" *ngIf="row.avatar == ''">account_circle</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let row">{{ row.username }}</td>
    </ng-container>

    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fullname</th>
      <td mat-cell *matCellDef="let row">{{ row.name + " " + row.surname }}</td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Birthday</th>
      <td mat-cell *matCellDef="let row">{{ row.birthday }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created at</th>
      <td mat-cell *matCellDef="let row">{{ row.createdAt }}</td>
    </ng-container>

    <ng-container matColumnDef="posts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº posts</th>
      <td mat-cell *matCellDef="let row">{{ row.posts }}</td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef>Enabled</th>
      <td mat-cell *matCellDef="let row">{{ row.enabled }}</td>
    </ng-container>

    <ng-container matColumnDef="admin">
      <th mat-header-cell *matHeaderCellDef>Admin</th>
      <td mat-cell *matCellDef="let element">{{ element.admin }}</td>
    </ng-container>

    <ng-container
      matColumnDef="action"
      style="padding-left: 5px"
      class="table-responsive"
    >
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="username != element.username">
          <button mat-raised-button color="primary" (click)="update(element)">
            Edit roles
          </button>
          |
          <button
            *ngIf="element.enabled"
            mat-raised-button
            color="warn"
            (click)="ban(element.username)"
          >
            Ban
          </button>
          <button
            *ngIf="!element.enabled"
            mat-raised-button
            style="background-color: rgb(15, 151, 15); color: white"
            (click)="unban(element.username)"
          >
            Unban
          </button>
        </div>
        <span *ngIf="username == element.username"
          >Your account <a routerLink="/home">Edit</a></span
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="50"
    [pageSize]="25"
    [pageSizeOptions]="[25, 50]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
