<mat-card>
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>
      <span>Posted by {{ post.username }} at {{post.dateTime}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img style="width: 100%;" [src]="getImg()" alt="Post image">
  </mat-card-content>
  <mat-card-footer style="text-align: center; padding-bottom: 10px;">
    <div><span>{{post.description}}</span></div>
    <button mat-raised-button mat-dialog-close color="accent">Close</button>
  </mat-card-footer>
</mat-card>
